.jumbotron {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
.container {
    font-family: 'Raleway', sans-serif;
}

img {
    height: 50%;
    width: 50%;
}